name: CI-CD Pipeline

on:
  push:
    branches:
      - main
      - 'feature/*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps: 
      - name: checkout code
        uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files-build
        uses: tj-actions.changed-files@v45
        with:
          files: |
            Dockerfile
            requirements.txt
      - name: Set up Docker Buildx
        if: steps.changed-files-build.outputs.any_changed == 'true'
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        if: steps.changed-files-build.outputs.any_changed == 'true'
        run:
          docker build . -t moex_elt:latest \
          docker build . -t moex_elt:${{ github.sha }} \

  unit-and-integration-and-e2e-tests:
    runs-on: ubuntu-latest
    needs: build-and-push-image
    env:
      AIRFLOW_WWW_USER_USERNAME: ${{ secrets.AIRFLOW_WWW_USER_USERNAME }}
      AIRFLOW_WWW_USER_PASSWORD: ${{ secrets.AIRFLOW_WWW_USER_PASSWORD }}
      CELERY_BACKEND_NAME: ${{ secrets.CELERY_BACKEND_NAME }}
      CELERY_BACKEND_USERNAME: ${{ secrets.CELERY_BACKEND_USERNAME }}
      CELERY_BACKEND_PASSWORD: ${{ secrets.CELERY_BACKEND_PASSWORD }}
      ELT_DATABASE_NAME: ${{ secrets.ELT_DATABASE_NAME }}
      ELT_DATABASE_USERNAME: ${{ secrets.ELT_DATABASE_USERNAME }}
      ELT_DATABASE_PASSWORD: ${{ secrets.ELT_DATABASE_PASSWORD }}
      POSTGRES_USER: ${{ secrets.POSTGRES_CONN_USERNAME }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_CONN_PASSWORD }}
      POSTGRES_CONN_HOST: ${{ secrets.POSTGRES_CONN_HOST }}
      POSTGRES_CONN_PASSWORD: ${{ secrets.POSTGRES_CONN_PASSWORD }}
      POSTGRES_CONN_PORT: ${{ secrets.POSTGRES_CONN_PORT }}
      POSTGRES_CONN_USERNAME: ${{ secrets.POSTGRES_CONN_USERNAME }}
      AIRFLOW_UID: ${{ vars.AIRFLOW_UID }}
    steps: 
      - name: checkout code
        uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files-build
        uses: tj-actions.changed-files@v45
        with:
          files: |
            dags/**
            include/**
            docker-compose.yaml
      - name: Set up Docker Compose
        if: steps.changed-files-tests.outputs.any_changed == 'true'
        run: docker compose up -d
      - name: Run Unit and Integration Tests
        if: steps.changed-files-tests.outputs.any_changed == 'true'
        run:
          DAG_NAMES=("produce_json" "update_db" "data_quality")
          for DAG in "${DAG_NAMES[@]}"; do
            docker exec -t airflow-worker sh -c "airflow dags test $DAG"
          done
      - name: Tear down Docker Compose
        if: setps.changed-files-tests.outputs.any_changed == 'true'
        run: docker compose down
